
<section id="cronograma" class=" h-screen flex items-center justify-center px-4 text-amber-50 ">
  <div class="mt-16">
    <h1 class="text-3xl md:text-4xl font-bold text-center mb-10">Cronograma</h1>

    <div class="space-y-4">
        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class={`font-bold uppercase'}`}>CHECK-IN</h2>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">08:00 hs</span>
          </div>
        </div>

        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class={`font-bold uppercase'}`}>APERTURA</h2>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">08:30 hs</span>
          </div>
        </div>

        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class="font-bold italic text-lg">"Neuroagilidad: Aprender con rapidez, agilidad y flexibilidad en la era de la Inteligencia"</h2>
              <p class="text-sm mt-1">
                Disertante: <span class="font-medium">Juliana Coronel</span>
              </p>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">09:00 hs</span>
          </div>
        </div>
        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class="font-bold italic text-lg">"Desarrollo de Videojuegos en Paraguay"</h2>
              <p class="text-sm mt-1">
                Disertante: <span class="font-medium">Ismael Pozzo</span>
              </p>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">10:00 hs</span>
          </div>
        </div>
         <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class="font-bold italic text-lg">"Cómo mejorar sus consultas para Inteligencias Artificiales"</h2>
              <p class="text-sm mt-1">
                Disertante: <span class="font-medium">Sergio Pohlmann</span>
              </p>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">11:00 hs</span>
          </div>
        </div>
        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class={`font-bold uppercase'}`}>ALMUERZO</h2>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">12:00 hs</span>
          </div>
        </div>
        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class="font-bold italic text-lg">"De Programador Local a Talento Global: Cómo la IA y el Trabajo Remoto Cambian tu Futuro"</h2>
              <p class="text-sm mt-1">
                Disertante: <span class="font-medium">Koki Duré</span>
              </p>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">13:00 hs</span>
          </div>
        </div>
        <div class="flex rounded-md shadow-md overflow-hidden">
          <div class="flex-1 p-4 bg-[#1e3a5f]">
            <h2 class={`font-bold uppercase'}`}>SORTEO Y CIERRE</h2>
          </div>
          <div class="bg-[#356082] flex items-center justify-center px-4 min-w-[100px] ml-2">
            <span class="font-semibold text-sm text-white">14:00 hs</span>
          </div>
        </div>


    </div>


  </div>
</section>

<!--<section id="cronograma" class="flex h-screen items-center justify-center px-4">

</section>-->
