---
import Instagram from "../icons/Instagram.astro";
import Facebook from "../icons/Facebook.astro";
---

<footer class="flex flex-col w-full items-center justify-between h-[110px] p-4">
    <div class="flex flex-row gap-4">
        <a href="https://www.instagram.com/seminariosti/" target="_blank"><Instagram /></a>
        <a href="https://www.facebook.com/SeminarioSTI" target="_blank"> <Facebook /> </a>
    </div>
    <p class="text-white text-sm font-semibold sm:text-base">© 2025 Seminario Tecnológico Informático - UCI</p>
  </footer>
