---
import Calendar from "../icons/Calendar.astro";
import MapMaker from "../icons/MapMaker.astro";
import CuentaAtras from "../components/CuentaAtras.astro";
---

<section class="flex flex-col pt-0 pb-0 text-amber-50">
  <div class="">
    <div class="z-[1] text-center">
      <div class="">
        <div class="">
          <div class="mb-8">
            <div class="clear-both block h-[60px] w-full"></div>
            <div class="clear-both block h-[60px] w-full"></div>
            <div class="font-bold-[600] text-6xl text-gray-200">
              <h1>Seminario de la Tecnología y de la Información</h1>

              <p class="text-5xl text-gray-200">
                Edición <span class="text-7xl text-[#4287f5]">XX</span>
              </p>
            </div>
            <div class="clear-both block h-[30px] w-full"></div>
            <div
              class="font-bold-[600] flex flex-col items-center justify-center gap-y-6 text-2xl/[32px]"
            >
              <span class="flex items-center gap-y-2"
                ><MapMaker />
                <p class="text-gray-200">
                  Universidad Católica, Campus Itapúa
                </p></span
              >
              <span class="flex items-center gap-y-2"
                ><Calendar /> <p class="text-gray-200">10 de Mayo</p></span
              >
            </div>
            <div class="clear-both block h-[30px] w-full"></div>
            <div class="clear-both block h-[30px] w-full"></div>
            <a
              href="#"
              class="font-poppins rounded-[30px] border-2 border-white bg-transparent px-[30px] py-[9px] text-[13px] font-bold text-white uppercase"
              >Obtenga su entrada</a
            >&nbsp;
            <div class="mt-20 w-full"><CuentaAtras /></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
