<nav
  class="fixed top-0 z-50 flex w-full items-center justify-center space-x-4 rounded-lg p-4"
>
  <div class="flex w-7xl flex-row justify-between">
    <div class="flex items-center">
      <img src="/images/STI.webp" alt="Logo STI" class="h-8 w-auto sm:h-10" />
    </div>
    <ul class="hidden sm:flex flex-row space-x-4 text-sm sm:text-xl font-semibold text-gray-200">
      <li>
        <a href="#inicio" class="group relative inline-flex">
          <span class="block py-2">Inicio</span>
          <span
            class="absolute bottom-0 left-0 h-0.5 w-0 bg-[#4287f5] transition-all duration-300 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li>
        <a href="#disertantes" class="group relative inline-flex">
          <span class="block py-2">Disertantes</span>
          <span
            class="absolute bottom-0 left-0 h-0.5 w-0 bg-[#4287f5] transition-all duration-300 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li>
        <a href="#cronograma" class="group relative inline-flex">
          <span class="block py-2">Cronograma</span>
          <span
            class="absolute bottom-0 left-0 h-0.5 w-0 bg-[#4287f5] transition-all duration-300 group-hover:w-full"
          ></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
