<div class="rounded-lg bg-zinc-50 p-2">
  <ul>
    <li>
      <a
        href="/"
        class="flex items-center gap-4 py-2 font-medium text-zinc-400 hover:text-zinc-100"
      >
        Inicio
      </a>
    </li>
  </ul>
</div>

<div class="rounded-lg bg-zinc-50 p-2">
  <ul>
    <li>
      <a
        href="/disertantes"
        class="flex items-center gap-4 py-2 font-medium text-zinc-400 hover:text-zinc-100"
      >
        Disertantes
      </a>
    </li>
  </ul>
</div>
<div class="rounded-lg bg-zinc-50 p-2">
  <ul>
    <li>
      <a
        href="/cronograma"
        class="flex items-center gap-4 py-2 font-medium text-zinc-400 hover:text-zinc-100"
      >
        Cronograma
      </a>
    </li>
  </ul>
</div>
