---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>STI</title>
  </head>
  <body>
    <div class="h-screen w-screen bg-black">
      <Navbar />
      <div class="z-[100] mb-0 w-full pt-[90px] pr-0 pb-[90px] pl-0">
        <main>
          <slot />
        </main>
      </div>
      <footer></footer>
    </div>
  </body>
</html>

<style is:global>
  body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Estándar */
  }
</style>
