---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="images/STI.webp" />
    <title>STI</title>
  </head>
  <body>
    <div class="h-screen w-screen">
      <div class="w-full">
        <Navbar />
      </div>
      <div class="z-[100] w-full">
        <main>
          <slot />
        </main>
      </div>
      <footer>
        <Footer />
      </footer>
    </div>
    <Analytics />
    <SpeedInsights />
  </body>
</html>

<style is:global>
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("/images/fondo.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-color: black;
  }
  body::before {
    content: ""; /* Crear contenido vacío */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Color de fondo negro con opacidad */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }
</style>
